apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  labels:
    component: server
  
spec:
  replicas: 1
  selector:
    matchLabels:
      component: server
  template:
    metadata:
      name: server
      labels:
        component: server
    spec:
      containers:
        - name: server
          image: ahmedaminesoltani/multi-server:latest
          ports:
            - containerPort: 5000
          env:
            - name: REDIS_HOST
              value: redis-service
            - name: REDIS_PORT
              value: '6379'
            - name: PGUSER
              value: postgres
            - name: PGHOST
              value: postgres-service
            - name: PGPORT
              value: '5432'
            - name: PGDATABASE
              value: postgres
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pgpassword
                  key: PGPASSWORD